@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 text-white"><ins>Welcome</ins></h1><br>
    <form action="process" method="post">
        <label for="name" class="text-white">Please give your name:</label><br><br>
        <input type="text" id="name" name="name"><br><br>
        <input type="submit" value="Submit" class="btn btn-dark">
    </form>
</div>